<footer class="footerResponsive">

  <div class="footer-copy">
      <p>Copyright &copy; 2020 <br> Create By Ludovic - Loic - Mickael - Mustafa
      </p>

  </div>

  <div class="newsletter">
    <div><label for="email">E-mail :</label> <input id="email" name="subscriber_email" type="email" /></div>

    <div><label for="lastname">Surname :</label> <input id="lastname" name="subscriber_last_name" type="text" /></div>

    <div><label for="firstname">Name :</label> <input id="firstname" name="subscriber_first_name" type="text" /> </div>

    <button type="submit">subscribe to the newsletter and receive the latest exclusive offers</button>
  </div>

</footer>
