footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  background-color: #5386E450;
}

/*MEDIA QUERIES IPAD */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {}


/*MEDIA QUERIES MOBIL*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
footer {
        display: none;
    }
  }
