

<form class="form">
  <div class="firstName">
    <label for="firstName">Firstname : </label>
    <input name="name" type="text" required minlength="3" maxlength="30"/>
  </div>

  <div class="lastName">
      <label for="lastName">Lastname : </label>
      <input name="lastName" type="text" required minlength="3" maxlength="30"/>
    </div>

  <div class="mail">
    <label for="email">Mail : </label>
    <input name="email" type="email" required email>
  </div>

  <div class="send">
    <button class="send" type="submit">Send</button>
  </div>

</form>


