.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/picture/fantasy-782001_1920.jpg");
}

div {
  margin-top: 1em;
}





