<div class="row justify-content-center">
  <div class="jumbotron w-25 text-center">
    <form [formGroup]="contactForm" (ngSubmit)="sendContact(contactForm.value)">
      <div>
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName = "name">
      </div>
      <div>
        <label for="email">Email: </label>
        <input id="email" type="text" formControlName = "email">
      </div>
      <div>
        <label for="message">Message </label>
        <input id="message" type="text" formControlName = "message">
      </div>
      <div>
        <button type="submit">Add your Comment</button>
      </div>
    </form>
  </div>
</div>


