<div class="text">



  <h1>Welcome my friend</h1>



    <h2>Our purpose</h2>



  <div>

  <p>

    Our aim is to facilitate your integration into the labour market in these dark and uncertain times.

    You will find on your site the jobs sought by the Lords and Ladies of the different regions.

  </p>

  </div>





<div>

   <p>

     How to find a job, go to the section and check the one that suits you.

     Don't hesitate to apply for several jobs.

   </p>

 </div>



<div>

  <p>Good luck my friend!</p>

</div>

</div>
