<section class="jobSection">

  <div class="jobContainer">
    <div class="jobImage">
      <button (click)="onButtonClick()"><img src="{{ jobListDetail.strJobPics }}" alt="jobPic"></button>
    </div>
    <div class="jobDexcription">
      <h1>{{jobListDetail.strJob}}</h1>
      <p>salary: {{jobListDetail.strJobGold}}</p>
      <p>duration: {{jobListDetail.strPeriodJob}}</p>
    </div>
    <div>
      <span *ngIf="buttonClicked">
       <p class="require">
        {{jobListDetail.strJobDescription}}
       </p>
       <p>
         {{jobListDetail.strJobRequirement}}
       </p>
      </span>
    </div>
  </div>

</section>
